.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Courier New";
}

ul {
  background-color: darkgray;
  display: flex;
  list-style: none;
}

ul li{
  background-color: darkgray;
  text-decoration: none;
  padding: 15px;
  float: left;
  color: white;
}

ul li:hover{
  background-color: lightgray;
  cursor: pointer;
}

.active-tab {
  background-color: lightgray;
  text-decoration: underline;
}

.vgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vgallery .evid {
  margin: 1vh 2vw;
}

.igallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.igallery .img-wrap {
  text-align: center;
  margin: 1vh 5vw;
  flex: 1;
}

.igallery img {
  width: 150px;
}

table, td, th {  
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.button {
  background-color: lightblue;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.button:hover {
 background-color: darkblue;
}

/* Source/Inspiration: https://www.youtube.com/watch?v=4SQXOA8Z-lo */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.overlay-img {
  margin: auto;
  display: block;
  min-height: 60vh;
  max-height: 60vh;
}

.overlay-vid {
  margin: auto;
  display: block;
  min-height: 60vh;
  max-height: 60vh;
}

/* Source/Inspiration: https://dev.to/ljcdev/scroll-to-top-button-in-vanilla-js-beginners-2nc */
.btt-button {
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  /*display: none;*/
}

.vmsg {
  color: black;
  margin: 5vh 0;
  /*display: none;*/
}

.vmsg span {
  padding: 5vh;
  border: 1px black solid;
  border-radius: 10px;
  background-color: lightgreen;
}

.manager {
  border: 1px black solid;
  display: inline-block;
  width: 80%;
  padding: 50px;
}

.task {
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: left;
  position: relative;
  transition: 0.3s;
  padding-bottom: 25px;
}

.task:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.task h3 {
  font-size: 1em;
  overflow-wrap: break-word;
}

.task .delete {
  position:absolute;
  right:5px;
  top:5px;
  background-color: white;
  border: 2px solid #a56969;
  color: #a56969;
  padding: 1px;
  transition: 0.3s;
  font-size: 0.8em;
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.delete:hover {
  cursor: pointer;
  /*background-color: #a56969;*/
  box-shadow: 
    inset -3.5em 0 0 0 #a56969,
    inset 3.5em 0 0 0 #a56969;  
  border-color: #a56969;
  color: #fff;
}

.important {
  border-left: 8px green solid;
}

.manager button {
  height: 4em;
  width: 20%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: white;
  border: 2px solid #498ba0;
  color: #498ba0;
  border-radius: 3px;
  transition: 0.3s;
  font-family: inherit;
  font-weight: bold;
}

.manager button:hover{
  box-shadow: 
    inset -6.5em 0 0 0 #498ba0,
    inset 6.5em 0 0 0 #498ba0;  
  border-color: #498ba0;
  color: #fff;
  cursor:pointer;
}

.manager button:focus{
    outline: none;
}

.submit {
  width: 20%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: white;
  border: 2px solid #62a049;
  color: #62a049;
  border-radius: 3px;
  transition: 0.3s;
  font-family: inherit;
  font-weight: bold;
}

.submit:hover{
  box-shadow: 
    inset -6.5em 0 0 0 #62a049,
    inset 6.5em 0 0 0 #62a049;  
  border-color: #62a049;
  color: #fff;
  cursor:pointer;
}

.submit button:focus{
    outline: none;
}

.text-in{
  border: 0;
  width: 40%;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  transition: 0.3s;
  font-family: inherit;
}

.text-in:focus {
  box-shadow: 
    inset -15em 0 0 0 #ededed,
    inset 15em 0 0 0 #ededed;  
  border-color: #ededed;
  color: black;
  cursor:pointer;
  outline: none;
}

.form-div {
  margin: 10px;
}

.manager .errors{
  display:inline-grid;
  font-size: 0.8em;
  color: black;
  background-color: transparent;
  margin: 0px;
}

.manager .errors li {
  color: black;
  list-style: disc;
  cursor: default;
  background-color: transparent;
  padding: 5px;
}

.error-banner {
  border: 1px solid #a56969;
  background-color: #f19696;
  display: inline-block;
  padding: 10px 0px 20px 0px;
}